/* Reset margin and box-sizing for all elements */
* {
    /* Set the margin to 0 for all elements to ensure consistent spacing */
    margin: 0;

    /* Set the box-sizing property to border-box for all elements to include padding and borders in the total width and height */
    box-sizing: border-box;
}

/* Define the body element's styles */
body {
    /* Set the background image to 'image/imageMain.jpg' */
    background:url('image/imageMain.jpg');

    /* Adjust the background image size to cover the entire viewport */
    background-size: cover;

    /* Position the background image at 50% horizontal and 30% vertical position */
    background-position: 50% 3
