*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}
body {
    background:url('image/imageMain.jpg');
    min-height: 50vh;
    max-height: 200vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 30%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #f0f0f0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.5);
}
.icon {
  width: 64px;
  height: 64px;
}
.icon_user{
    width: 64px;
    height: 64px;
}
.navbar {
    left: 0;
    padding: 0;
    margin: 0;
}
.navbar a {
    display: block;
    padding: 0 1rem;
    color: #333;
}
.navbar a:hover {
  background-color: #ddd;
  cursor: pointer;
}
nav:hover ul {
    display: block;
}
nav ul li {
    padding: 0.5rem 1rem;
}
nav ul li a {
    color: #333;
}
nav ul li a:hover {
    background-color: #ddd;
}
header input{
    display: none;
}
header label{
    font-size:2rem;
    color: black;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.bank_card_block{
    display: block;
    background-color: #f0f0f0;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .2);
    max-width: 80%;
    min-height: 800px;
    margin: 1% 10%;
}
.bank_card_block h1{
    font-size: 36px;
    margin: 10px 0px;
}
.bank_card_block p{
    font-size: 20px;
    margin: 0px 10px;
}
.bank_card_block img{
    text-align: center;
}

.Block_cart{
    text-align: center;
    margin: 10px 10px;
    display: flex;
    white: 60px;
    height: 60px;
    border: black;
    border-radius: 10px;
}

.interface{
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #f0f0f0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.5);
}
.interface input[type='submit']{
    display: none;
}
.interface label{
    font-size:2rem;
    color: black;
    cursor: pointer;
}
.interface select{
    height: 30px;
}
.interface_down{
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    background-color:#f0f0f0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.5);
}


@media (max-width: 768px) {
    header {
        display: flex;
        align-items: center;
        padding: 1rem 1rem;
    }

    header label{
        visibility: visible;
        opacity: 1;
    }

    .navbar{
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,0.1);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.5);
        transform-origin: top;
        transform: scale(0);
        opacity: 0;
    }
    .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 1.4rem;
    }
    header input:checked ~ .navbar{
        transform: scale(1);
        opacity: 1
    }

    nav a:first-child {
        margin-top: 0;
    }

    nav ul li {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 0.5rem;
    }
    .icon{
        display: none;
    }
}
