{%extends 'index.html'%}

{%block content%}
    <h1>Home</h1>
    <h2>Welcome to the world of Uitcoin!</h2>
    <p>Uitcoin is a new digital currency designed to enable fast, secure and decentralised transactions.</p>
    <h3>What is Uitcoin?</h3>
    <p>Uitcoin is a cryptocurrency based on blockchain technology. This means that it is not controlled by any central authority such as governments or banks.</p>
    <h3>Why Uitcoin?</h3>
    <div class="block-list">
        <ul>
            <li><b>Fast Transactions:</b> Uitcoin transfers are almost instantaneous, with no need for intermediaries.</li>
            <li><b>Secure Transactions:</b> All Uitcoin transactions are recorded on the blockchain, making them immutable and fraud-proof.</li>
            <li><b>Decentralised currency:</b> Uitcoin is not controlled by any central authority, making it resistant to censorship and manipulation.</li>
            <li><b>Available currency:</b> Anyone in the world can open a Uitcoin wallet and start using the currency.</li>
            <li><b>Transparent currency:</b> All Uitcoin transactions are available for public viewing, ensuring transparency and accountability.</li>
        </ul>
    </div>
    <h3>Uitcoin is the future of money.</h3>
    <p>Join us and be part of the digital currency revolution!</p>

{% endblock%}