<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Update</title>
</head>
<body>

<div class="wrapper">
    <form action="" method="post">
        <h1>Enter a new password</h1>
        <div class="input-box">
            <input type="password" placeholder="Password" name="password_1" required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Password" name="password_2" required>
            <i class='bx bxs-user'></i>
        </div>
        <button type="submit" class="btn">Change the password</button>
    </form>
</div>

</body>
</html>