<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Bank</title>
</head>
<body>
    <div class="wrapper">
        <form action="">
            <h1>Request a password</h1>
            <h3>Enter your email address </h3>
            <div class="input-box">
                <input type="text" placeholder="Email" required>
                <i class='bx bxs-user'></i>
            </div>
            <p>You'll receive a confirmation email.</p>
            <button type="submit" class="btn">Inquiry</button>
        </form>
    </div>
</body>
</html>